<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      
    <mat-toolbar>
        <mat-toolbar-row><h2>Menu</h2></mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <!-- Monitoreo --->
      <h2 matSubheader> Monitoreo </h2>
      <a mat-list-item href="posicion-actual-mostrar">
        <i class="material-icons">person_pin_circle</i>&nbsp;  Posición Actual
      </a>
      <a mat-list-item href="recorrido">
          <i class="material-icons">directions_run</i> &nbsp; Recorrido
      </a>
      <a mat-list-item href="trazado-recorrido">
          <i class="material-icons">timeline</i> &nbsp; Trazado Recorrido
      </a>
      <!-- Reportes --->
      <h2 matSubheader> Reportes </h2>
      <a mat-list-item href="exceso-velocidad">
        <i class="material-icons">local_shipping</i> &nbsp; Exceso de Velocidad
      </a>
      <a mat-list-item href="paradas">
        <i class="material-icons">directions_bus</i> &nbsp; Paradas
      </a>
      <a mat-list-item href="eventos">
        <i class="material-icons">image_search</i> &nbsp; Eventos
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rastreo Vehicular</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
