<div id="container">
  <form>
      <!-- Username -->
      <label for="name">Usuario:</label>
      <input type="name">
      <!-- Password -->
      <label for="username">Password:</label>
      <p><a href="#">Olvido su password?</a>
      <input type="password">
      <div id="lower">
          <input type="checkbox"><label class="check" for="checkbox">Mantener mi sesion abierta</label>
          <!-- Submit Button -->
          <input type="submit" value="Login">
      </div>
  </form>       
</div>